#home {
    background-image: url('/images/easysoft.jpg');
    background-size: cover;
    background-position: center;
}

#todo{
    background-image: url('/images/easysoft(2).jpg');
    background-size: cover;
    background-position: center;


   }
.card-img-top{
  object-fit: cover;
  width: 100%;
  height: 200px;
}